@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-montserrat);

  --color-primary: #2ECC71;
  --color-primary-hover: #27AE60;
  --color-brand-blue: #1C3E95;
  --color-brand-gray-light: #F2F4F8;
  --color-brand-gray-neutral: #6B6B6B;
  --color-accent-neon: #6AFF65;
  --color-accent-border: #DDE2E7;
  
  --background-image-gradient-main: linear-gradient(to right, #1FA54A, #33D97A);
}

:root {
  --background: #F2F4F8;
  --foreground: #6B6B6B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
